<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <table>
    <ul><a href="/package">add a package</a></ul>
    <ul><a href="/course">add a course</a></ul>
    <ul><a href="/quiz">add a quiz</a></ul>
</table>

  
</body>

</html>
