<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/package" method="POST">
        <label>Name of the package</label>
<input type="text" name="name"  >
<label>poster link</label>
<input type="text" name="poster">
<label>type</label>
<input type="text" name="type">
<label>subAdmins separated with comma</label>
<input type="text" name="subAdmins">
<input type="submit" value="submit">
    </form>
    <ul>
        <% courses.forEach(( course)=>{ %>
            <li> <%= course.name %> </li>
        <% }) %>
</body>
</html>