<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
    <h2>Add excel file of the questions</h2>
  <form action="/quiz" method="post" enctype="multipart/form-data">

    <div>
<label for="course">course</label>
      <input type="text"  name="course">


    </div>
    <div>
<label for="course">quiz name</label>
      <input type="text"  name="quiz">


    </div>
    <input type="file" name="selectedFile" />
    <input type="submit" name="" value="submit">
  </form>
  
</body>

</html>
